<div class="collaborator-list-item">
  <div class="collaborator-avatar" [style.background]="avatarGradient">
    {{ initials }}
  </div>
  <div class="collaborator-info">
    <div class="collaborator-header">
      <h3 class="collaborator-name">{{ displayName }}</h3>
      <span class="collaborator-role">{{ collaborator.role }}</span>
    </div>

    <div class="collaborator-actions">
      <button class="btn-view-profile" (click)="onViewProfile()">
        Ver perfil completo
      </button>
    </div>
  </div>
</div>
